# Creating SQL Databases
- Zach Hanson

## Libraries

In [1]:
#Standard 
import pandas as pd
import numpy as np

#JSON
import json

#SQL
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database
from sqlalchemy_utils import database_exists
from sqlalchemy.types import *

## SQL Login and Engine

In [2]:
#Loading mysql credentials
with open('/Users/Zach/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [3]:
#Making connection
connection = f"mysql+pymysql://{login['username']}:{login['password']}@localhost/movie_database"
engine = create_engine(connection)

In [4]:
#Check if database exists
if database_exists(connection):
    print('Database exists.')
else:
    #Create it
    create_database(connection)
    print('Database created.')

Database exists.

## Importing Current Dataframes

In [5]:
title_basics = pd.read_csv('Data/title_basics.csv.gz')
title_basics.head(3)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama

In [6]:
title_ratings = pd.read_csv('Data/title_ratings.csv.gz')
title_ratings.head(3)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1953
1  tt0000002            5.8       263
2  tt0000005            6.2      2589

## Normalizing Tables

### Genres

In [7]:
#Creating new column with split genres
title_basics['genres_split'] = title_basics['genres'].str.split(',')
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
85562,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama,[Drama]
85563,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
85564,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama,[Drama]
85565,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
85566,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History","[Drama, History]"

In [8]:
#Exploding split columns
title_basics = title_basics.explode('genres_split')
title_basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
85565,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Action
85565,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Adventure
85565,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Thriller
85566,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",Drama
85566,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",History

In [9]:
unique_genres = sorted(title_basics['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [10]:
title_genres = title_basics[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [11]:
genre_ints = range(len(unique_genres))

genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [12]:
title_basics['genre_id'] = title_basics['genres_split'].map(genre_map)
title_basics = title_basics.drop(columns='genres_split')
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genre_id
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",5
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",9
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",18
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,7
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,7

In [13]:
genres = pd.DataFrame({'Genre_Name': genre_map.keys(),
                       'Genre_ID': genre_map.values()})
genres.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

### Removing Redundant Information

In [14]:
#Dropping 'originalTitle', we will use 'primaryTitle' instead
title_basics = title_basics.drop(columns='originalTitle')

In [15]:
#Dropping 'isAdult' since we can see if its an adult film in the 'genres' column
title_basics = title_basics.drop(columns='isAdult')

In [16]:
#Dropping 'titleType' since all types will be movies
title_basics = title_basics.drop(columns='titleType')

In [17]:
#Dropping 'genres' row since we will be using the keys for genres
title_basics = title_basics.drop(columns='genres')

In [18]:
title_basics.head(3)

      tconst    primaryTitle  startYear  endYear  runtimeMinutes  genre_id
0  tt0035423  Kate & Leopold       2001      NaN             118         5
0  tt0035423  Kate & Leopold       2001      NaN             118         9
0  tt0035423  Kate & Leopold       2001      NaN             118        18

## Converting to SQL

### title_basics

In [19]:
title_basics.dtypes

tconst             object
primaryTitle       object
startYear           int64
endYear           float64
runtimeMinutes      int64
genre_id            int64
dtype: object

In [20]:
key_len = title_basics['tconst'].fillna('').map(len).max()
title_len = title_basics['primaryTitle'].fillna('').map(len).max()

basics_schema = {
    'tconst': String(key_len+1),
    'primaryTitle': Text(title_len+1),
    'startYear': Float(),
    'endYear': Float(),
    'runtimeMinutes': Integer()
#    'genre_id': Integer()
}

In [21]:
title_basics.to_sql('title_basics', engine, dtype=basics_schema, if_exists='replace', index=False)

159847

In [23]:
#engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')
q='''
SHOW TABLES;
'''
pd.read_sql(q, engine)

  Tables_in_movie_database
0             title_basics

### title_ratings

### title_genres

### genres

### tmdb_data