# Hypothesis Testing
- Zach Hanson

## Libraries

In [11]:
#Standard
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#JSON
import json

#SciPy
from scipy import stats

#PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

#More SQL
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database
from sqlalchemy_utils import database_exists

## Creating Engine

In [8]:
with open('/Users/Zach/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [9]:
connection = f"mysql+pymysql://{login['username']}:{login['password']}@localhost/movie_database"
engine = create_engine(connection)

In [12]:
#Check if database exists
if database_exists(connection):
    print('Database exists.')
else:
    #Create it
    create_database(connection)
    print('Database created.')

Database exists.

## Loading in Data

In [13]:
q='''
SELECT *
FROM tmdb_data
'''
tmdb_data = pd.read_sql(q, engine)
tmdb_data.head()

     imdb_id     revenue      budget certification
0  tt0035423  76019000.0  48000000.0         PG-13
1  tt0069049         0.0  12000000.0             R
2  tt0088751         0.0    350000.0          None
3  tt0096056         0.0         0.0          None
4  tt0100275         0.0         0.0          None

In [17]:
tmdb_data['certification'].value_counts()

R                                  5668
NR                                 3025
PG-13                              3015
PG                                 1313
G                                   403
NC-17                               148
ScreamFest Horror Film Festival       1
10                                    1
Name: certification, dtype: int64

## Hypothesis 1: Does Rating Affect Revenue?

### Null and Alternate Hypothesis

**NULL HYPOTHESIS**: There is no significant difference in a movies revenue based on the rating of the movie.

**ALTERNATE HYPOTHESIS**: There is a significant difference in a movies revenue based on the rating of the movie.

### What Test to Use